@media screen and (min-width: 1200px) {

    body {
        max-width: 84em;
        display: grid;
        grid-template-columns: 10px 1fr 1fr 1fr 10px;
        margin-left: 180px;
    }
    header, footer {
        width: 72em;
    }

    main {
        grid-column-gap: 15px;
    }
    
    #sec1 {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 20px;
        margin-left: -25px;
        width: 20em;
    }

    #sec1 img {
        width: 19em;
    }

    #sec2 {
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 20px;
        width: 20em;

    }
    
    #sec2 img {
        width: 19em;
    }
    
        
    #sec3 {
        grid-column: 4/5;
        grid-row: 1/2;
        margin: 20px;
        width: 20em;

    
    }
    
    #sec3 img {
        width: 19em;
    }

    #content {
        margin-bottom: 67px;
    }
}