@media screen and (min-width: 700px) {
    

body {
    max-width: 55em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

header, footer {
    width: 47em;
}

main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 10px;
}

#sec1 {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-right: -15px;
    width: 20em;
}

#sec2 {
    grid-column: 5/8;
    grid-row: 1/2;
    margin-left: -15px;
    width: 20em;
}

#content {
    margin-bottom: 70px;
}


#sec3 {
    grid-column: 1/8;
    grid-row: 2/3;
    width: 45em;

}

#sec3 img {
    width: 42em;
}

}