@media screen and (min-width: 640px) {
    

body {
    max-width: 40em;
    display: grid;
    grid-template-columns: repeat(7fr);
}

main {
    display: grid;
    grid-template-columns: repeat(7fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

#sec1 {
    grid-column: 1/4;
    grid-row: 1/2;
}

#sec2 {
    grid-column: 4/7;
    grid-row: 1/2;
}

#content {
    margin-bottom: 70px;
}


#sec3 {
    grid-column: 1/7;
    grid-row: 2/3;

}

#sec3 img {
    width: 38em;
}

}