body {
    margin: 0 auto;
    max-width: 25em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-family: 'Hind Guntur', sans-serif;
    
}

header {
    background-color: navy;
    margin-bottom: 10px;
    grid-column: 1/7;
}

main {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

h1 {
    text-align: center;
    color: beige;
}

h2 {
    text-align: center;
    color: beige;
}

section {
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: oldlace;
    margin: 15px;
    box-shadow: 0 0 2px black;
    border-radius: 5px 5px 0 0;
    outline: none;
}

div {
    background-color: navy;
    box-shadow: 0 0 2px black;
    border-radius: 5px 5px 0 0;
    outline: none;
    grid-column: 1/8;
}

h3 {
    color: beige;
    margin-left: 15px;
}

p {
    grid-column: 1/7;
    margin-left: 15px;
}

img {
    display: block;
    width: 18em;
    grid-column: 2/7;
    box-shadow: 0 0 2px black;
    outline: none;
}

footer {
    text-align: center;
    grid-column: 1/7;
    background-color: navy;
    color: beige;
    margin-top: 10px;
}

section p {
    margin-right: 7px;
}