@media only screen and (min-width: 32.5em) {
    
    header { 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    h1 {
        padding: 25px;
    }

    img {
        border-radius: 5px;
        margin: 10px;
    }
}